<div class="accounts-search-wrap">
    <h3>{{ 'Search Result' }}</h3>

    <div class="account-search-details-wrap">
        <div class="account-search-details">
            <table>
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Account Number</th>
                    <th>Customer Code</th>
                    <th>Balance</th>
                    <th>Account Type</th>
                </tr>
                </thead>
                <tbody>
                    {% for account in accounts %}
                    <tr>
                        <td>{{ account.id }}</td>
                        <td>{{ account.accountNumber }}</td>
                        <td>{{ account.customerCode }}</td>
                        <td>{{ account.balance }}</td>
                        <td>{{ account.accountType }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
